@import "tailwindcss";


:root {
  --primary-color: linear-gradient(135deg, hsl(263 70% 50%), hsl(14 100% 57%));
  --primary-solid: hsl(263 70% 50%);
  --primary-dark: #1a1a2e;
  --text-color: #333;
  --text-light: #555;
  --background-color: #f5f5f7;
  --card-background: #ffffff;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  --hover-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
